
/*-----------------------left--------------------------*/
#container-left {
  position: absolute;
  top: 56px;
  left: 0;
  width: 260px;
  height: 1214px;
  background-image: url("bg/left_bg.png");
  background-repeat: no-repeat;
  background-color: #000; }

span.vertical-middle {
  font-family: SimHei;
  color: #fff; }

.num {
  display: inline-block;
  font-family: SimHei;
  color: #fff;
  font-size: 16px; }

span.num {
  font-size: 12px; }

#num-vertical-line {
  display: inline-block;
  padding: 0 30px; }

div.left-first {
  height: 60px;
  width: 160px;
  padding: 15px 50px 0; }

div.left-second {
  height: 75px;
  width: 160px;
  padding: 23px 50px; }

div.left-pic {
  position: absolute;
  top: 210px;
  left: 0;
  width: 260px;
  height: 191px;
  z-index: 0;
  background-image: url("bg/ul_bg.png");
  background-repeat: no-repeat; }

div.left-third {
  position: absolute;
  height: auto;
  width: 200px;
  padding: 0 30px;
  z-index: 1; }

/*-------------------------------------------------tree-------------------------------------------------------------------------------------*/
ul.root {
  font-family: SimHei;
  font-size: 12px;
  line-height: 48px;
  color: #6e8095; 
}
li{
    list-style: square;
    margin-left: 10px;
  }
  .folder{
    list-style-image: url("bg/folder.png");
  }
  .folderturn{
    list-style-image: url("bg/folderturn.png");
  }
  .child-list {
    line-height: 30px; }