*{margin:0;padding:0;}
body {
  position: relative;
  margin: 0;
  padding: 0; }
/*-------------------------top------------------------------------*/
#top {
  width: 1280px;
  height: 56px;
  background-image: url("bg/top_bg.png");
  background-repeat: no-repeat; }

#logo {
  float: left;
  margin: 10px 50px; }

#top-right {
  float: right;
  padding: 20px 50px;
  height: 16px; }

#search {
  padding: 2px 2px 2px 20px;
  border-radius: 20px;
  background-color: #fff;
  background-image: url("bg/search_bg.png");
  background-repeat: no-repeat; }

.vertical-middle {
  vertical-align: middle; }

#login {
  font-family: SimHei;
  color: #fff;
  text-decoration: none;
  font-size: 12px; }

/*-----------------------left--------------------------*/
#container-left {
  position: absolute;
  top: 56px;
  left: 0;
  width: 260px;
  height: 1214px;
  background-image: url("bg/left_bg.png");
  background-repeat: no-repeat;
  background-color: #000; }

span.vertical-middle {
  font-family: SimHei;
  color: #fff; }

.num {
  display: inline-block;
  font-family: SimHei;
  color: #fff;
  font-size: 16px; }

span.num {
  font-size: 12px; }

#num-vertical-line {
  display: inline-block;
  padding: 0 30px; }

div.left-first {
  height: 60px;
  width: 160px;
  padding: 15px 50px 0; }

div.left-second {
  height: 75px;
  width: 160px;
  padding: 23px 50px; }

div.left-pic {
  position: absolute;
  top: 210px;
  left: 0;
  width: 260px;
  height: 191px;
  z-index: 0;
  background-image: url("bg/ul_bg.png");
  background-repeat: no-repeat; }

div.left-third {
  position: absolute;
  height: auto;
  width: 200px;
  padding: 0 30px;
  z-index: 1; }

ul.first {
  font-family: SimHei;
  font-size: 12px;
  line-height: 48px;
  color: #6e8095; }

li.list1 {
  list-style-image: url("bg/list1.png");
  list-style-type: square; }

li.list2 {
  list-style-image: url("bg/list2.png");
  list-style-type: square; }

li.list3 {
  list-style-image: url("bg/list3.png");
  list-style-type: square; }

li.list4 {
  list-style-image: url("bg/list4.png");
  list-style-type: square; }

ul.second {
  line-height: 30px; }

li.folder {
  list-style-image: url("bg/folder.png");
  list-style-type: square; }

li.doc1 {
  list-style-image: url("bg/doc_white.png");
  list-style-type: square;
  color: #fff; }

li.doc2 {
  list-style-image: url("bg/doc_dark.png");
  list-style-type: square; }

.selected {
  color: #fff; }

/*--------------------right-----------------------------*/
#container-right {
  position: absolute;
  top: 56px;
  left: 260px;
  width: 1020px;
  height: 1214px;
  background-color: #eeeeee; }

div.right-first {
  position: absolute;
  top: 0;
  right: 0;
  width: 995px;
  height: 30px;
  padding-left: 25px;
  background-color: #fff; }

	span.right-first-fir {
	  font-family: SimHei;
	  font-size: 12px;
	  color: #6e8095; }

	span.right-first-sec {
	  font-family: SimHei;
	  font-size: 12px;
	  color: #228abf; }

div.right-second {
  position: absolute;
  top: 30px;
  right: 0;
  width: 900px;
  height: 55px;
  margin: 20px 60px 0;
  padding: 5px 0;
  background-color: #fff; }

	table.first {  width: 770px; }
	table.first td {
		width: 70px;
		vertical-align: middle;
		text-align: center;
		font-family: SimHei;
		font-size: 12px;
		color: #6e8095; }
    table.first td.left {    text-align: left; }
    table.first td select, table.first td input {
		width: 100%;
		font-family: SimHei;
		font-size: 12px;
		color: #6e8095; }
    table.first td select.search, table.first td input.search {
        background-color: blue;
        color: #fff;
        vertical-align: middle;
        height: 25px;
        width: 40px;
        border: none; }

div.right-third {
	position: absolute;
	top: 115px;
	right: 0;
	padding: 10px 55px 0;
	width: 910px;
	height: 65px;
}

	#third-table td{	background-color:#FFF;}
	#td-selected{
		background-image:url(../img/td-selected.png);
		background-repeat:no-repeat;}
	.third-time {
		font-family: "Microsoft YaHei UI Light", "Microsoft YaHei UI";
		font-size: 12px;
		text-align: center;
	}
	img.third-time{
		vertical-align:middle;}
	span.third-time{
		vertical-align:baseline;
		line-height:0;}
	.third-money {
		font-size: 21px;
		color: #ec6500;}
		
div.right-fourth {
	position: absolute;
	top: 215px;
	right: 0;
	padding: 15px 60px 0;
	margin:0;
	width: 900px;
	height: 95px;
}
	.right-fourth p{
	width:900px;
	height:25px;
	font-family:"黑体";
	font-size:12px;
	line-height:24px;
	margin:0;
	text-align: left;
}
	#fourth-child{
		width:900px;
		height:70px;}
	#child1{
		background-image:url(bg/childbg1.png);margin-right:33px;}
	#child2{
		background-image:url(bg/childbg2.png);margin-right:33px;}
	#child3{
		background-image:url(bg/childbg3.png);margin-right:33px;}
	#child4{
		background-image:url(bg/childbg4.png);}
	.float-left{
		float:left;
		width:200px;
		height:70px;}
	.float-left p{
		font-family:SimHei;
		font-size:12px;
		width:175px;
		height:50px;
		padding:10px 15px 10px 10px;
		margin:0;}
	.float-left span{font-size:10px;}
	
div.right-fifth {
  position: absolute;
  top: 325px;
  right: 0;
  padding: 15px 60px 10px;
  width: 900px;
  height: 355px; }
	.fifth-sixth-left{
		float:left;
		background-image:url(bg/sixbg.png);
		background-repeat:no-repeat;
		border-radius:10px;}
	#page1{
		width:530px;
		height:355px;}
	#page1 p , #page2 p ,#page3 p ,#page4 p{
		width:auto;
		height:40px;
		font-family:SimHei;
		font-size:12px;
		line-height:40px;
		margin-left:20px;
		color:#aaaaaa;}
		#shape{
			background-image:url(bg/shapebg.png);
			width:490px;
			height:280px;
			margin:10px 20px 25px;}
		li.fifth-float-left{
			float:left;
			font-family:"Microsoft YaHei UI Light", "Microsoft YaHei UI";
			font-size:12px;
			line-height:12px;
			list-style-type:none;
			margin-left:25px;
			margin-right:25px;
			margin-top:9px;
			margin-bottom:9px;
			}
		#fifth-table{
			width:400px;
			height:200px;
			margin:30px 50px 45px 40px;
			border:1px solid #09F;
			border-collapse:collapse;
			text-align:center;
			font-family:SimHei;
			font-size:12px;
			}	
		#fifth-table td{
			border:1px solid #09F;}
	#page2{
		width:360px;
		height:355px;
		margin-left:10px;}
		
div.right-sixth {
    position: absolute;
    top: 705px;
    right: 0;
    padding: 0 60px;
    width: 900px;
    height: 405px;}
	
	#page3{
		width:360px;
		height:405px;}
	#page3-bottom{
		width:320px;
		height:365px;
		padding:0 20px;}
		
		li.six-float-left{
			float:left;
			font-family:"Microsoft YaHei UI Light", "Microsoft YaHei UI";
			font-size:12px;
			line-height:12px;
			list-style-type:none;
			margin-right:15px;
			margin-top:9px;
			margin-bottom:9px;
			border:1px solid #CCC;
			}
		#calinder-top{
			width:320px;
			height:40px;
			font-family:"黑体";
			font-size:12px;
			text-align:center;
			border-bottom:2px solid #999;}
		#calinder-content{
			width:320px;
			height:220px;
			font-family:"黑体";
			font-size:12px;
			text-align:center;}
		#week{
				}
		span.color-red{color:red;}
		td.selected-day{border:1px solid #F03;}
		
	#page4{
			width:530px;
			height:405px;
			margin-left:10px;}
			
			
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both; }
/*# sourceMappingURL=task9.css.map */
